.Home {
    .Cards {
        max-width: 1440px;
        margin: auto;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        display: flex;
        padding: 2.5rem 2.5rem 0rem 0rem;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: $color-4;
        border-radius: 25px;

        @include laptop {
            margin-left: 3.75rem;
            margin-right: 3.75rem;
        }

        @include mobile {
            background-color: $color-3;
            margin: 0;
            padding-top: 2.1rem;
        }

        a {
            margin: 1.25rem;
        }
    }
}