.infos{
    display: flex;
    max-width: 1440px;
    margin: auto;
    justify-content: space-between;
    &__title{
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        color: $color-1;
        margin: 30px 0 0 0;
    }
    &__localisation{
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        margin-top: 0;
        color:$color-1;
    }
    &__tags{
        display: flex;
        -moz-column-gap: 1rem;
        column-gap: 1rem;
        flex-wrap: wrap;
        row-gap: 0.5rem;
        padding-top: 1rem;
    }
    &__host{
        display: flex;
        align-items: center;
        margin-top: 20px;
        justify-content: flex-end;
    }
    &__hostName{
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: $color-1;
        width: 80px;
        text-align: flex-end;
        margin-right: 1rem;
        @include mobile {
            width: 80px;
            margin-right: 0rem;
            padding-left: 1.25rem;
            
        }
    }
    &__hostPicture{
        width: 64px;
        height: 64px;
        border-radius: 3rem;
    }
    &__rate{
        display: flex;
        justify-content: flex-end;
        -moz-column-gap: 1rem;
        column-gap: 1rem;
        margin-top: 1rem;
        padding-bottom: 1rem;
    }
    @include laptop {
        padding-left: 3.75rem;
        padding-right: 3.75rem; 
    }
    @include tablet {
        flex-direction: column;
        margin: auto;
        &__title{
            font-size: 20px;
            margin-top: 0.6rem;
        }
        &__host{
            padding-bottom: 0.9rem;
        }
        &__host_rate{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
        }
        &__localisation{
            font-size: 14px;
            margin-top: 0.6rem;
        }
        &__hostName{
            font-size: 15px;
        }
        &__hostPicture{
            height: 45px;
            width: 45px;
        }
        &__rate{
            -moz-column-gap: 0;column-gap: 0;
        }
    }
    @include mobile {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        &__title{
            font-size: 18px;
            margin-top: 0.6rem;
        }
        &__hostPicture{
            height: 32px;
            width: 32px;
        }
        &__hostName{
            font-size: 12px;
        }
    }
}

.dropdowns{
    margin: 2rem auto;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    @include laptop {
        padding-left: 3.75rem;
        padding-right: 3.75rem; 
    }
    @include tablet {
        flex-direction: column;
        margin-top: 0rem;
    }
    @include mobile {
        padding-left: 1.25rem;
        padding-right: 1.25rem;       
    } 
}
 
.dropdown_wrap{
    width : 48%;
    @include tablet {
        width: 100%;
        margin-top: 0;
        padding-bottom : 1.25rem;
    }
}

