.accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @include tablet {
        padding-left: 3.75rem;
        padding-right: 3.75rem;
    }

    @include mobile {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    .accordion-item {
        list-style: none;
        width: 70%;
        justify-items: center;
        margin-top: 1rem;

        @include tablet {
            margin-top: 0.5rem;
            width: 100%;
        }

        @include mobile {
            margin-top: 0rem;
        }
    }

    .accordion-toggle {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: $color-1;
        align-content: center;
        color: $color-3;
        border-radius: 5px;
        margin-top: 20px;
        height: 47px;

        @include mobile {
            height: 30px;
        }

        span {
            align-items: center;
            padding-top: 0.50rem;
            margin-right: 1rem;

            @include mobile {
                display: flex;
                padding-top: 0rem;

            }

            svg {
                font-size: 25px;

                @include mobile {
                    font-size: 20px;
                    padding-right: 10px;
                }
            }
        }
    }
}

.accordion-toggle h3 {
    display: flex;
    margin-left: 20px;
    font-size: 24px;
    font-weight: 500;
    border-radius: 10px;
    align-items: center;

    @include mobile {
        font-size: 13px;
        margin-left: 10px;

    }
}

.accordion-content {
    background-color: $color-4;
    padding: 1Rem;
    color: $color-1;
    font-size: 24px;
    font-weight: 400;

    @include mobile {
        font-size: 12px;
    }
}