.banner {
    display: flex;
    height: 98%;
    width: 100%;
    position: relative;
    max-width: 1440px;
    margin: auto;
    height: 200px;
    padding-left: 3.75rem;
    padding-right: 3.75rem;
    padding-bottom: 0.6rem;

    @include tablet {
        height: 180px;
    }

    @include mobile {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        height: 120px;
    }

    &__image {
        width: 100%;
        background-size: 100%;
        border-radius: 25px;
        -o-object-fit: cover;
        object-fit: cover;
        -webkit-filter: brightness(0.7);
        filter: brightness(0.7);
    }

    h1 {
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 142.6%;
        display: flex;
        width: 100%;
        color: $color-3;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        @include tablet {
            font-size: 36px;
            padding-left: 2.8rem;
            padding-right: 2.8rem;
        }

        @include mobile {
            font-size: 24px;
            padding-left: 1.8rem;
            padding-right: 11.25rem;
        }

    }

}