// dropdown 2 - apropos
.accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    padding-left: 3.75rem;
    padding-right: 3.75rem;
    padding-bottom: 3.75rem;
    margin: 1.5em auto 0;

    @include tablet {
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .accordion-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        height: 47px;
        padding: 0 1.25rem;
        border: none;
        border-radius: 0.5em;
        background: $color-1;
        font-size: 24px;
        font-weight: 500;
        color: $color-6;
        margin: auto;

        
        @include tablet {
            height: 40px;
            font-size: 18px;
        }

        @include mobile {
            width: 380px;
            height: 30px;
            font-size: 13px;
        }

    }

    .accordion-content {
        position: relative;
        z-index: -1;
        width: 80%;
        margin: -1em auto 1em;
        padding: 2.5rem 1.25rem 1.25rem;
        display: flex;
        border-radius: 5px;
        background: $color-6;
        color: $color-1;
        font-size: 24px;
        font-weight: 400;

        @include tablet {
            width: 645px;
            font-size: 17px;
        }

        @include mobile {
            width: 380px;
            font-size: 12px;
            padding: 2rem 1.25rem 1.25rem;

        }

    }
}

.Fiabilité,.Respect,.Sécurité,.Service {
    margin-bottom: 1.5rem;
    width: 100%;
}


// dropdown1 - location
.dropdowns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem auto;
    max-width: 1440px;

    @include laptop {
        padding-left: 3.75rem;
        padding-right: 3.75rem;
    }
    
    @include tablet {
        flex-direction: column;   
        margin-top: 0rem;
    }

    @include mobile {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    .dropdowns-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 582px;
        height: 52px;
        padding: 0 1.25rem;
        border: none;
        border-radius: 0.5em;
        background: $color-1;
        font-size: 18px;
        font-weight: 500;
        color: $color-6;

        @include tablet {
            width: 645px;
            height: 40px;
            font-size: 18px;
        }
        
        @include mobile {
            width: 380px;
            height: 30px;
            font-size: 12px;
        }
    }

    .dropdowns-content {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: -1;
        padding: 2rem 1.25rem 1.25rem;
        display: flex;
        border-radius: 5px;
        background: $color-6;
        color: $color-1;
        font-size: 18px;
        font-weight: 400;
        width: 582px;

        @include tablet {
            width: 645px;
            font-size: 17px;
            padding: 1rem 1.25rem 1.25rem;
        }

        @include mobile {
            width: 380px;
            font-size: 12px;
        }

    }

    .Description,.Equipements {
        margin-bottom: 1.5rem;
    }

}